.breath{
    transition: all 0.6s ease 0s;
}

.breath:hover
{
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: -webkit-transform .1s ease-out;
    -webkit-transition: transform .1s ease-out;
    -moz-transition: transform .1s ease-out;
    transition: transform .1s ease-out;
}

.dash-below{
    padding-bottom: 20px;
}

.add{
    position: relative;
}

.pointer{
    cursor: pointer;
}